<div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info  @contents %>
    </div>
    <%= will_paginate  @contents, :container => false %>
  </div>

<h1><%= @translation.file_name %></h1>

<%= search_form_for @q, url: edit_translation_path() do |f| %>
  <%= f.search_field :key_or_value_cont %>
<% end %>
<% i = 0 %>
<table class='ui striped table'>
  <thead>
    <tr>
      <th>Nr.</th>
      <th>ID.</th>
      <th>Key</th>
      <th>Value</th>
      <th>Command</th>
      
    </tr>
  </thead>
  <tbody>
    <% @contents.each do |cnt| %>
    <tr>
      <td><%= i+=1 %></td>
      <td><%= cnt.id %></td>
      <td><%= cnt.key.to_s.strip %></td>
      <td><textarea readonly class='form-control' style="resize: none;"><%= cnt.value.to_s.strip %></textarea></div></td>
      <td><textarea id="forditas" name="<%= cnt.id %>" class='form-control' style="resize: none;"></textarea></div></td>

      <td>
        <%= form_for cnt, url: trans_path(), method: :post do |f| %>
          <%= f.hidden_field :content_id, value: cnt.id %>
          <%= f.text_field :value %><br />
          <%= f.submit %>
        <% end %>
      </td>

      <td><button id="send" name="<%= cnt.id %>" class='ui green button'><i class="check icon"></i>Send</button> <button class='ui red button'>Nem fordít</button></td>
      
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @contents %>
