<%= will_paginate @contents %>

<h1><%= @translation.file_name %></h1>
<h3> Sorok száma: <%=  @contents.size %>/<%= @translation.translation_file_contents.size %></h3>

<%= search_form_for @q, url: edit_translation_path() do |f| %>
  <%= f.search_field :key_or_value_cont %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @contents.each do |cnt| %>
    <tr>
      <td><%= cnt.key %></td>
      <td><%= cnt.value %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @contents %>
