<p id="notice"><%= notice %></p>

<h1>Felhasználók</h1>



<%= link_to 'Új felhasználó', new_user_path , class: "ui blue button" %>
<br><br>
  <div class="ui link four cards">
    <% @users.each do |user| %>
      
      <div class="card">
        <div class="image">
        <%= image_tag(user.avatar.variant(resize: "1000x1000^"), class: 'ui small circular image') if user.avatar.present? %>
        </div>
        <div class="content">
          <div class="header"><%= user.username %></div>
          <div class="meta">
          
          </div>
          <div class="description">
          <% if current_user && user_signed_in?%>
          <%= current_user.password %>
          <%= user_signed_in? %>
          <% else %>
          nem
          <% end %>
          <%= user.email %>
          Admin:
          <%= content_tag( :button, content_tag(:i, '', :class=> 'thumbs up icon'), :class=>'circular ui icon button') if user.admin? %>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
          <%= link_to 'Módosít', edit_user_path(user), class: "ui blue button" %>
          <%= link_to 'Megnéz', user, class: "ui blue button" %>
        <%= link_to 'Törlés', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>
          </span>
          
        </div>
      </div>

    <% end %>
    </div>