<p id="notice"><%= notice %></p>

<h1>Felhasználók</h1>



  <tbody>
  <div class="ui link four cards">
    <% @users.each do |user| %>
      
      <div class="card">
        <div class="image">
        <%= image_tag(user.avatar.variant(resize: "1000x1000^"), class: 'ui small circular image') if user.avatar.present? %>
        </div>
        <div class="content">
          <div class="header"><%= user.username %></div>
          <div class="meta">
            
          </div>
          <div class="description">
          <%= user.email %>
          
          <%= content_tag( :i, '', :class=>'exclamation icon') if user.admin? %>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
          <%= user.admin %>
          <%= link_to 'Edit', edit_user_path(user) %>
          <%= link_to 'Show', user %>
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
          </span>
          <span>
            <i class="user icon"></i>
            75 Friends
          </span>
        </div>
      </div>

    <% end %>
    </div>


<br>

<%= link_to 'New User', new_user_path %>
