<div class="ui mini menu">
  <%= link_to "Főoldal", "/", class: "item" %>
  <a class="item" href="/users">
    Felhasználók
  </a>

  <a class="item" href="/projects" >
    Fordítások
  </a>
  <a class="item" href="/uploads" >
  Feltöltés
</a>
  <div class="right menu">
    <div class="ui dropdown item">
      Menü<i class="dropdown icon"></i>
      <div class="menu">
      <%= link_to "Regisztrálás", new_user_session_path, class: "item" %>
      <%= link_to "Belépés", user_session_path, class: "item" %>
      <%= link_to "Kilépés",  destroy_user_session_path, method: "delete", class: "item" %>
        
      </div>
    </div>
    <div class="item">
    <div><%= link_to "Regisztrálás", new_user_session_path , class: "ui primary button" %></div>   
    
    </div>
  </div>
</div>