<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui input">
    <%= form.label "Név:" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label "Webcím:" %>
    <%= form.text_field :www %>
  </div>

  <div class="field">
    <%= form.label "E-mail:" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label "Verzió:" %>
    <%= form.text_field :version %>
  </div>

  <div class="field">
    <%= form.label "Leírás:" %>
    <%= form.text_area :details %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
