<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <table class="ui definition table">
  <tbody>
    <tr>
      <td class="two wide column">Név:</td>
      <td><%= form.text_field :name %></td>
    </tr>
    <tr>
      <td>Webcím:</td>
      <td><%= form.text_field :www %></td>
    </tr>
    <tr>
      <td>E-mail:</td>
      <td><%= form.text_field :email %></td>
    </tr>
    <tr>
      <td>Verzió:</td>
      <td><%= form.text_field :version %></td>
    </tr>
    <tr>
    <td>Részletek:</td>
    <td> <%= form.text_area :details %></td>
    </tr>
    <tr>
    <tr>
    <td>   <%= form.submit class: "ui blue button " %></td>
    </tr>
  </tbody>
</table>


  
<% end %>
