<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Www</th>
      <th>Email</th>
      <th>Version</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <div><div class="ui card">
      <div class="content">
        <div class="header"><%= project.name %></div>
      </div>
      <div class="content">
        <h4 class="ui sub header">Activity</h4>
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary">
              <%= project.www %>
              <%= project.email %>
              <%= project.version %>
              <%= project.details %>
              <%= link_to 'Show', project %>
              <%= link_to 'Edit', edit_project_path(project) %>
              
            </div>
          </div>
         
          </div>
        </div>
      </div>
      <div class="extra content">
        <button class="ui button">Join Project</button>
      </div>
    </div>
    </div>


    <% end %>
  </tbody>


<br>

<%= link_to 'New Project', new_project_path %>
