<p id="notice"><%= notice %></p>

<p>
  <strong>Fordítás::</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Webcím:</strong>
  <%= @project.www %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @project.email %>
</p>

<p>
  <strong>Verzió:</strong>
  <%= @project.version %>
</p>

<p>
  <strong>Részletek:</strong>
  <%= @project.details %>
</p>
<%= link_to 'Módosítás', edit_project_path(@project), class: "ui blue button" %>
<%= link_to 'Vissza', projects_path, class: "ui blue button" %>
