<%= form_with(model: upload, local: true) do |form| %>
  <% if upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
        <% upload.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label "File" %>
    <%= form.file_field :files, multiple: true %>
  </div>
  <div class="field">
    <%= form.label :file_name %>
    <%= form.text_field :file_name %>
  </div>


  <div class="field">
    <%= form.label :file_ext %>
    <%= form.text_field :file_ext %>
  </div>

  <div class="field">
    <%= form.label :file_size %>
    <%= form.text_field :file_size %>
  </div>

  <div class="field">
    <%= form.label :game_version %>
    <%= form.text_field :game_version %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.number_field :project_id %>
  </div>
  <div class="field">
    <%= form.label :translation %>
    <%= form.text_area :translation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
.valami 
